__pycache__/
*.pyc
.venv/
backups/*
!backups/.gitkeep
mounts/*
!mounts/.gitkeep
tmp/*
!tmp/.gitkeep
logs/*
!logs/.gitkeep
*.img
*.img.gz
.DS_Store
howtopush.md
.env
*.egg-info/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
